/__pycache__
/glove
/pycocoevalcap/__pycache__
/pycocoevalcap/bleu/__pycache__
/pycocoevalcap/cider/__pycache__
/pycocoevalcap/meteor/__pycache__
/pycocoevalcap/rouge/__pycache__
/pycocoevalcap/spice/__pycache__
/pycocoevalcap/spice/lib
/pycocoevalcap/spice/tmp
/MLE/show_tell/__pycache__
/MLE/show_tell/show_tell_log
/MLE/show_tell/show_tell_models
/MLE/show_tell/show_tell_model
/MLE/show_tell/show_tell_evaluate
/MLE/show_tell/show_tell_decode
/MLE/show_attend_tell/__pycache__
/MLE/show_attend_tell/show_attend_tell_log
/MLE/show_attend_tell/show_attend_tell_models
/MLE/show_attend_tell/show_attend_tell_model
/MLE/show_attend_tell/show_attend_tell_evaluate
/MLE/show_attend_tell/show_attend_tell_decode
/MLE/adaptive_attention/__pycache__
/MLE/adaptive_attention/adaptive_attention_log
/MLE/adaptive_attention/adaptive_attention_models
/MLE/adaptive_attention/adaptive_attention_model
/MLE/adaptive_attention/adaptive_attention_evaluate
/MLE/adaptive_attention/adaptive_attention_decode
/MLE/contrasive_learning/__pycache__
/MLE/contrasive_learning/reference_model
/MLE/contrasive_learning/adaptive_attention_CL_log
/MLE/contrasive_learning/adaptive_attention_CL_models
/MLE/contrasive_learning/adaptive_attention_CL_model
/MLE/contrasive_learning/adaptive_attention_CL_evaluate
/MLE/contrasive_learning/adaptive_attention_CL_decode
/MLE/hard_attention/__pycache__/
/MLE/hard_attention/hard_attention-REINFORCE_evaluate/
/MLE/hard_attention/hard_attention-REINFORCE_log/
/MLE/hard_attention/hard_attention-REINFORCE_models/
/MLE/hard_attention/hard_attention-REINFORCE_model/
/MLE/hard_attention/hard_attention-REINFORCE_decode
/MLE/hard_attention/hard_attention-Gumbel_softmax_evaluate/
/MLE/hard_attention/hard_attention-Gumbel_softmax_log/
/MLE/hard_attention/hard_attention-Gumbel_softmax_models/
/MLE/hard_attention/hard_attention-Gumbel_softmax_model/
/MLE/hard_attention/hard_attention-Gumbel_softmax_decode
